.section-exercise{
    background-color: rgb(228, 228, 228);
    margin: 30px;
    border-radius: 10px;
    &__title{
        text-align: center;
        padding: 20px 0 10px;
    }

    &__detalls{
        //border: 1px solid;
        padding: 10px;
        &-summary{
            // border: 1px solid;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            justify-content: space-between;
            list-style: none;
            font-weight: 600;
            transition: 100ms;
            &:hover{
                cursor: pointer;
                color: rgb(73, 153, 126);
                font-weight: 900;
            }

        }
        &-summary-img{

        }
        &-content{
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-paragraph{
                // padding: 10px 0;
            }
            &-btn{
               background-color: blueviolet;
               padding: 8px 20px;
               border-radius: 5px; 
               color: white;
               transition: 300ms;
               &:hover{
                background-color: rgb(117, 35, 194);
                cursor: pointer;
               }
            }
        }

        &-resultado{
           
            // display: flex;
        }
        &-resultado p{
            margin-top: 15px;
            // display: flex;
        }
        
    }
    &__detalls[open]  .section-exercise__detalls-summary-img{
        transform: rotate(180deg);
        transition: 300ms;
    }

}